/* -----------------
  Font for Website
  -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* --------------------
    Navigation Panel
---------------------- */
.nav-button > ul{
    display: flex;
}
.nav-button>ul>li{
    list-style: none;
    padding-left: 10px;
}
.nav-button>ul>li>a{
    text-decoration: none;
}