/* -----------------
  Font for Website
  -------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* --------------------
    Navigation Panel
---------------------- */
.nav-button > ul{
    display: flex;
}
.nav-button>ul>li{
    list-style: none;
    padding-left: 10px;
    
}
.nav-button>ul>li>a{
    text-decoration: none;
    color: #3A3A3A;
    padding-left: 34px;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    color: black;
}

/* --------------------
   Hero Section Start
--------------------- */
.hero-button{
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 29px;
    width: 196px;
    font-size: 16px;
}
.hero-button>a{
    text-decoration: none;
}

.fa-arrow-right:before{
    padding-left: 10px;
}

.hero-image{
    width: 450px;
    height: 450px;
}

.hero-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
}
.hero-left-container{
    width: 50%;
}

/*--------------------
Product Container Start
-----------------------*/
.product-container-header{
    text-align: center;
}

.product{
    margin-top: 0px;
}
.product-name, .product-price, .product-rating {
    margin: 0px;
}
.product-name{
    font-size: 28px;
}
.product-price{
    font-size: 24px;
}
.product-rating{
    font-size: 15px;
}
.colored{
    color: #FB8200;
}


.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
}